---
apiVersion: v1
kind: Service
metadata:
  name: romm-db
  namespace: gaming
spec:
  selector:
    app: romm-db
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: romm
  namespace: gaming
spec:
  selector:
    app: romm
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP